.signup {
  background-color: #202020;
  width: 100%;
  margin: 0;
  padding: 0 5.5% 0 5.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup__window {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10% auto;
}

.signup__logo {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../images/icons/logo.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  width: 100%;
  height: 38px;
  font-size: 0;
}

.signup__header {
  margin: 40px 0 40px 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  color: #ffffff;
}

.signup__form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.signup__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.signup__input-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 24px 0 16px 0;
  border-bottom: 1px solid #424242;
}

.signup__input-wrapper:first-child {
  padding-top: 0;
}

.signup__label {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  margin: 0 0 5px 0;
  padding: 0;
}

.signup__input {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: transparent;
  border: 0;
}

.signup__input:invalid {
  color: #ee3465;
}

.signup__error {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  display: block;
  padding-top: 3px;
}


.signup_error_show {
  display: block;
}

.signup__button {
  background: #4285f4;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  border: 0;
  padding: 0;
  margin: 30% auto 0 auto;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
}
.signup__button:hover {
  opacity: 0.8;
}

.signup__button_invalid {
  cursor: default;
  background: #fff;
  color: #000;
}

.signup__button_invalid:hover {
  opacity: 1;
}

.signup__text {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
  align-self: center;
}

.signup__link {
  color: #4285f4;
  cursor: pointer;
}

.signup__link:hover {
  color: #4285f4;
  opacity: 0.8;
}

@media screen and (max-width: 1000px) {
  .signup__window {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .signup__window {
    width: 90%;
  }
  .signup__text {
    font-size: 12px;
    line-height: 15px;
  }
}
