.movies-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 40px auto;
  padding: 6px;
  width: 100%;
  background-color: #2f2f2f;  
}

.movies-card__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movies-card__wrap {
  display: flex;
}

.movies-card__wrap_type_text {
  flex-direction: column;
  width: 80%;
  padding: 18px;
}

.movies-card__wrap_type_picture {
  flex-direction: row;
  justify-content: flex-start;
  width: 20%;
  min-width: 220px;
  background: #202020;
  position: relative;
  top: 0;
  left: 0;
}

.movies-card__header {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding: 0;
  margin: 0 0 16px 0;
  order: 0;
}

.movies-card__duration {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  color: #8b8b8b;
  padding: 0;
  margin: 0 0 30px 0;
  order: 1;
}

.movies-card__like-button {
  width: 14px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../images/icons/like.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  cursor: pointer;
  display: block;
  order: 2;
}

.movies-card__like-button:hover {
  opacity: 0.8;
}

.movies-card__like-button_hidden {
  display: none;
}

.movies-card__like-button_active {
  background-image: url(../../images/icons/like_active.png);
}

.movies-card__remove-button {
  width: 14px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../images/icons/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  cursor: pointer;
  display: block;
  order: 2;
}

.movies-card__remove-button_hidden {
  display: none;
}

.movies-card__remove-button:hover {
  opacity: 0.8;
}

.movies-card__picture {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 450px) {
  .movies-card {
    flex-direction: column-reverse;
    padding: 0;
  }
  .movies-card__header {
    font-size: 12px;
    line-height: 15px;
    order: 0;
    margin: 0;
  }

  .movies-card__duration {
    width: 100%;
    order: 2;
    margin: 8px 0 0 0;
  }

  .movies-card__like-button {
    order: 1;
  }

  .movies-card__remove-button {
    order: 1;
  }

  .movies-card__wrap_type_text {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 13px;
    box-sizing: border-box;
  }

  .movies-card__wrap_type_picture {
    width: 100%;
  }
}
