.profile {
  background-color: #202020;
  width: 100%;
  margin: 0;
  padding: 0 5.5% 0 5.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__window {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 70px 0;
}

.profile__header {
  margin: 0 0 32% 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.profile__form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.profile__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.profile__input-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 16px 0;
  border-bottom: 1px solid #424242;
}

.profile__input {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  width: 90%;
  background: transparent;
  border: 0;
  text-align: right;
}

.profile__label {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  width: 10%;
}

.profile__error {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  display: block;
  padding-top: 3px;
}

.profile__button {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 58% auto 0 auto;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer;
}

.profile__button:hover {
  opacity: 0.8;
}

.profile__button_invalid {
  color: #424242;
  cursor: default;
}

.profile__button_invalid:hover {
  opacity: 1;
}

.profile__link {
  background: transparent;
  text-decoration: none;
  padding: 0;
  margin: 16px auto 0 auto;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ee3465;
}

@media screen and (max-width: 768px) {
  .profile__window {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .profile__window {
    width: 90%;
  }
}
