.portfolio {
  width: 100%;
  margin: 0;
  padding: 7.8% 5.5% 7.8% 5.5%;
  background-color: #202020;
  box-sizing: border-box;
}

.portfolio__header {
  margin: 0;
  padding: 0 0 23px 0;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  border-bottom: 1px solid #DADADA;
}

.portfolio__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.portfolio__row_type_adout-me {
  padding: 6.5% 0 8.8% 0;
}

.portfolio__row_type_projects {

}

.portfolio__wrapper {
  display: flex;
}

.portfolio__wrapper_type_text {
  flex: 0 0 50%;
  flex-direction: column;
}

.portfolio__wrapper_type_image {
  flex: 0 0 40%;
  flex-direction: row;
  justify-content: flex-end;
}

.portfolio__text {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
}

.portfolio__text_type_name {
  padding-bottom: 18px;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.portfolio__text_type_job {
  padding-bottom: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  mix-blend-mode: normal;
}

.portfolio__text_type_describe {
  padding-bottom: 99px;
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
}

.portfolio__text_type_project-name {
  font-size: 30px;
  line-height: 50px;
}

.portfolio__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.portfolio__list_type_sosial-nets {
  flex-direction: row;
  justify-content: flex-start;  
}

.portfolio__list_type_projects {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.portfolio__list-item {
  margin: 0;
  padding: 0;
}

.portfolio__list-item_type_sosial-net {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: 20px;
}

.portfolio__list-item_type_sosial-net:first-child {
  margin-left: 0;
}

.portfolio__list-item_type_project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
  border-bottom: 1px solid #E6E6E6;
  padding-top: 20px;
  padding-bottom: 19px;
}

.portfolio__list-item_type_project:first-child {
  padding-top: 0;
}

.portfolio__list-item_type_project:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.portfolio__image {
  border-radius: 10px;
  max-width: 292px;
  max-height: 352px;
  object-fit: cover;
}

.portfolio__subtitle {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  mix-blend-mode: normal;
  margin-bottom: 50px;
}

.portfolio__link {
  margin: 0;
  padding: 0;
} 

.portfolio__link:hover {
  opacity: 0.8;
  cursor: pointer;
}

.portfolio__link_type_social-net {
  color: white;
  text-decoration: none;
}

.portfolio__link_type_project { 
  background-image: url(../../images/icons/link.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 29px;
  min-height: 28px; 
  align-self: center;
}


@media screen and (min-width: 1400px) {
  .portfolio { 
    padding: 7.8% 20% 7.8% 20%;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__wrapper_type_text {
    flex: 0 0 50%;
  }
  
  .portfolio__wrapper_type_image {
    flex: 0 0 50%;
  }

  .portfolio__text_type_name {
    padding-bottom: 18px;
    font-size: 40px;
    line-height: 40px;
  }
  
  .portfolio__text_type_job {
    padding-bottom: 26px;
    font-size: 12px;
    line-height: 18px;
  }
  
  .portfolio__text_type_describe {
    padding-bottom: 99px;
    font-size: 12px;
    line-height: 18px;
  }
  
  .portfolio__text_type_project-name {
    font-size: 28px;
    line-height: 50px;
  }
}

@media screen and (max-width: 700px) {  
  .portfolio__text_type_name {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
  }
  
  .portfolio__text_type_job {
    padding-bottom: 20px;
    font-size: 11px;
    line-height: 16px;
  }
  
  .portfolio__text_type_describe {
    padding-bottom: 40px;
    font-size: 11px;
    line-height: 16px;
  }
  
  .portfolio__text_type_project-name {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__row_type_adout-me {
    flex-direction: column-reverse;
  }
  
  .portfolio__wrapper_type_image {
   justify-content: center;
  }

  .portfolio__subtitle {
    font-size: 14px;
    line-height: 20px;    
    margin-bottom: 0;
    margin-top: 69px;
  }

  .portfolio__row_type_projects {
    padding: 40px 0 70px 0;
  }
}